<!doctype html>
html
  head
    title
      | ASIMO
    link(rel='stylesheet', type='text/css', href='file://#{basePath}/pdftemplate.css')

  body
    .section
      span.title
        | I. TYPE OF MORTAGE AND TERMS OF LOAN
    .section
      span.title
        | II. PROPERTY INFORMATION AND PURPOSE OF LOAN
      .prompts
        .flex-container.row.column-start
          .flex-item.col-11.row-start
            span
              | Subject Property Address (street, city, state & ZIP)
              br
              | #{section.propertyInformation.subjectPropertyAddress}
          .flex-item.col-1
            span
              | No.of Units
              br
              | #{section.propertyInformation.noOfUnits}
        .flex-container.row
          .flex-item.col-11.row-start
            span
              | Legal Description of Subject Property (attach description if necessary)
              br
              | #{section.propertyInformation.legalDescription}
          .flex-item.col-1
            span
              | Year Built
              br
              | #{section.propertyInformation.yearBuilt}
        .flex-container.row
          .flex-item.col-3.row-start
              .flex-container.inline
                .flex-item.inline.col-4
                  | Purpose of Loan
                .flex-item.inline.col-4
                  .flex-container.inline.column
                    .flex-item.radio.col-1
                      input(type="radio", name="purposeOfLoan", value="purchase",
                        checked=section.propertyInformation.purposeOfLoan=="purchase")
                      | Purchase
                    .flex-item.radio.col-1
                      input(type="radio", name="purposeOfLoan", value="refinance",
                        checked=section.propertyInformation.purposeOfLoan=="refinance")
                      | Refinance
                .flex-item.inline.col-6
                  .flex-container.inline.column
                    .flex-item.radio.col-1
                      input(type="radio", name="purposeOfLoan", value="construction",
                        checked=section.propertyInformation.purposeOfLoan=="construction")
                      | Construction
                    .flex-item.radio.col-1
                      input(type="radio", name="purposeOfLoan", value="construction-permanent",
                        checked=section.propertyInformation.purposeOfLoan=="construction-permanent")
                      | Construction-Permanent
                .flex-item.inline.col-6
                  .flex-container.inline
                    .flex-item.radio.col-1
                      input(type="radio", name="purposeOfLoan", value="other",
                        checked=section.propertyInformation.purposeOfLoan=="other")
                      | Other (explain):
                      br
                      | #{section.propertyInformation.purposeOfLoanExplanation}
          .flex-item.col-2
            span
              | Property will be:
              br
              .flex-container.inline
                .flex-item.radio.col-1
                  input(type="radio", name="propertyWillBe", value="primary residence",
                    checked=section.propertyInformation.propertyWillBe=="primary residence")
                  | Primary Residence
                .flex-item.radio.col-1
                  input(type="radio", name="propertyWillBe", value="secondary residence",
                    checked=section.propertyInformation.propertyWillBe=="secondary residence")
                  | Secondary Residence
                .flex-item.radio.col-1
                  input(type="radio", name="propertyWillBe", value="investment",
                    checked=section.propertyInformation.propertyWillBe=="investment")
                  | Investment
        .flex-container.row
          span.row-title Complete this line if construction or construction-permanent loan.
        .flex-container.row
          .flex-item.col-1.row-start
            span
              | Year Lot Acquired
              br
              | #{section.propertyInformation.construction.yearLotAcquired}
          .flex-item.col-2
            span
              | Original Cost
              br
              br
              | #{format.currency(section.propertyInformation.construction.originalCost)}
          .flex-item.col-2
            span
              | Amount Existing Liens
              br
              br
              | #{format.currency(section.propertyInformation.construction.amountExistingLiens)}
          .flex-item.col-2
            span
              | (a) Present Value of Lot
              br
              br
              | #{format.currency(section.propertyInformation.construction.presentValueOfLot)}
          .flex-item.col-2
            span
              | (b) Cost of Improvements
              br
              br
              | #{format.currency(section.propertyInformation.construction.costOfImprovements)}
          .flex-item.col-2
            span
              | Total (a + b)
              br
              br
              | #{format.currency(section.propertyInformation.construction.total)}
        .flex-container.row
          span.row-title Complete this line if this is a refinance loan.
        .flex-container.row
          .flex-item.col-1.row-start
            span
              | Year Acquired
              br
              br
              br
              | #{section.propertyInformation.refinance.yearAcquired}
          .flex-item.col-2
            span
              | Original Cost
              br
              br
              br
              | #{format.currency(section.propertyInformation.refinance.originalCost)}
          .flex-item.col-2
            span
              | Amount Existing Liens
              br
              br
              br
              | #{format.currency(section.propertyInformation.refinance.amountExistingLiens)}
          .flex-item.col-2
            span
              | Purpose of Refinance
              br
              br
              br
              | #{section.propertyInformation.refinance.purposeOfRefinance}
          .flex-item.col-4
              .flex-container.inline
                .flex-item.radio.col-3
                  | Describe Improvements
                .flex-item.radio.col-2
                  input(type="radio", name="improvementsMade", value="improvementsMade",
                    checked=section.propertyInformation.refinance.improvementsMade)
                  | made
                .flex-item.radio.col-2
                  input(type="radio", name="improvementsToBeMade", value="improvementsToBeMade",
                    checked=section.propertyInformation.refinance.improvementsToBeMade)
                  | to be made
              | #{section.propertyInformation.refinance.improvements}
              br
              | Cost: #{format.currency(section.propertyInformation.refinance.costOfImprovements)}
        .flex-container.row
          .flex-item.no-padding.col-10.row-start
            .flex-container.column.nested-border
              .flex-item
                .flex-container.no-padding
                  .flex-item.inline.col-2
                    span
                    | Title will be held in what Name(s)
                    br
                    br
                    | #{section.propertyInformation.titleName}
                  .flex-item.col-1
                    span
                    | Manner in which Title will be held
                    br
                    br
                    | #{section.propertyInformation.titleManner}
              .flex-item
                span
                | Source of Down Payment, Settlement Charges, and/or Subordinate Financing (explain)
                br
                br
                | #{section.propertyInformation.sourceDetails}
          .flex-item.col-2
            .flex-container.inline.column
              .flex-item.inline.col-1
                span
                | Estate will be held in:
              .flex-item.radio.col-1
                input(type="radio", name="estateWillBeHeldIn", value="secondary residence",
                  checked=section.propertyInformation.estateWillBeHeldIn=="fee simple")
                | Fee Simple
              .flex-item.radio.col-1
                input(type="radio", name="estateWillBeHeldIn", value="investment",
                  checked=section.propertyInformation.estateWillBeHeldIn=="leasehold")
                | Leasehold (show expiration date)
                br
                br
                | #{section.propertyInformation.leasholdExpiryDate}
    .section
      span.title
        | III. BORROWER INFORMATION
